<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of teachers</title>
</head>
<body>
<form action="/teachers/" method="get">
</form>
<ul>
    {% for contractor in people %}

    <p></p>
    <option value="{{ contractor.name }}">{{ contractor.name }}</option>
    <option value="{{ contractor.surname }}">{{ contractor.surname }}</option>
    <option value="{{ contractor.lastname }}">{{ contractor.lastname }}</option>
    <option value="{{ contractor.birthday }}">{{ contractor.birthday }}</option>
    <option value="{{ contractor.theme }}">{{ contractor.theme }}</option>
    <p></p>

 {% endfor %}
</ul>
</body>
</html>